@use "../../styles/variables";
@use "../../styles/functions";
@use "../../styles/mixins";

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  position: absolute;
  background-color: functions.theme("bg-secondary");
  border: 1px solid functions.theme("text-tertiary");
  border-radius: 4px;
  padding: 0.5rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 120px;

  &.bottom {
    top: 100%;
    margin-top: 0.5rem;
  }

  &.top {
    bottom: 100%;
    margin-bottom: 0.5rem;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}
