@use "../../styles/variables";
@use "../../styles/mixins";

.about {
  padding: 20px;
}

.title {
  margin-bottom: 20px;

  @include mixins.themify() {
    color: mixins.theme("text-primary");
  }
}

.content {
  font-size: variables.$font-size-md;
  line-height: 1.6;

  @include mixins.themify() {
    color: mixins.theme("text-secondary");
  }

  p {
    margin-bottom: 15px;
  }
}
