@use "../../styles/variables";
@use "../../styles/functions";

.about {
  padding: 20px;
}

.title {
  margin-bottom: 20px;
  color: functions.theme("text-primary");
}

.content {
  font-size: variables.$font-size-md;
  line-height: 1.6;
  color: functions.theme("text-secondary");

  p {
    margin-bottom: 15px;
  }
}
