@use "../../../styles/variables";
@use "../../../styles/functions";
@use "../../../styles/mixins";

.sidebarInfo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;

  @include mixins.mobile {
    gap: 25px;
  }
}

.avatarBox {
  border-radius: 20px;
  background-image: functions.theme("bg-gradient-primary");

  @include mixins.mobile {
    border-radius: 30px;

    img {
      width: 120px;
    }
  }
}

.infoContent {
  .name {
    font-size: variables.$font-size-lg;
    font-weight: variables.$font-weight-medium;
    letter-spacing: -0.25px;
    margin-bottom: 10px;
    color: functions.theme("text-primary");

    @include mixins.mobile {
      margin-bottom: 15px;
    }
  }

  .title {
    font-size: variables.$font-size-xxs;
    font-weight: variables.$font-weight-light;
    width: max-content;
    padding: 3px 12px;
    border-radius: 8px;
    color: functions.theme("text-secondary");
    background-color: functions.theme("bg-tertiary");

    @include mixins.mobile {
      padding: 5px 18px;
    }
  }
}

.infoMoreBtn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 0 15px;
  font-size: variables.$font-size-xs;
  padding: 10px;
  // cursor: pointer;
  box-shadow: functions.theme("shadow-sm");
  transition: opacity variables.$transition-fast;
  color: functions.theme("accent-primary");
  background-image: functions.theme("gradient-secondary");
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: functions.theme("bg-gradient-secondary");
    transition: variables.$transition-fast;
    z-index: -1;
  }

  &:hover,
  &:focus {
    background-image: functions.theme("bg-gradient-accent-primary");

    &::before {
      background-image: functions.theme("bg-gradient-accent-primary");
    }
  }

  .infoMoreText {
    display: none;

    @include mixins.mobile {
      display: block;
      font-size: variables.$font-size-xxs;
    }
  }

  @include mixins.mobile {
    top: -30px;
    right: -30px;
    padding: 10px 15px;

    .infoMoreIcon,
    span:has(.infoMoreIcon) {
      display: none;
    }
  }
}
