@use "../../../styles/variables";
@use "../../../styles/functions";
@use "../../../styles/mixins";

.testimonials {
  margin-bottom: 30px;
}

.testimonialsList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 45px 15px 35px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;

  @include mixins.mobile {
    gap: 30px;
    margin: 0 -30px;
    padding: 55px 30px 35px;
  }
}
