@use "../../styles/variables";
@use "../../styles/functions";
@use "../../styles/mixins";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pageSkeletonContent {
  animation: fadeIn 1s ease-in;
  animation-fill-mode: both;
  animation-delay: 200ms;
}

.title {
  font-size: variables.$font-size-4xl;
  width: 25%;
  min-width: 12rem;
}
