@use "variables";
@use "functions";

html {
  font-family: variables.$font-family-primary;
}

.h2,
.h3,
.h4,
.h5 {
  color: functions.theme("text-primary");
  text-transform: capitalize;
}

.h2 {
  font-size: variables.$font-size-xxl;
}

.h3 {
  font-size: variables.$font-size-xl;
}

.h4 {
  font-size: variables.$font-size-rg;
}

.h5 {
  font-size: variables.$font-size-xs;
  font-weight: variables.$font-weight-medium;
}
