@use "variables";
@use "functions";

body {
  font-family: variables.$font-family-primary;
  font-size: variables.$font-size-md;
  line-height: 1.5;
  color: functions.theme("text-primary");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h1 {
  font-size: variables.$font-size-xxl;
}
h2 {
  font-size: variables.$font-size-xl;
}
h3 {
  font-size: variables.$font-size-md;
}

a {
  text-decoration: none;
  transition: color variables.$transition-fast;
  color: functions.theme("accent-primary");

  &:hover {
    color: functions.theme("accent-secondary");
  }
}
