@use "sass:map";

// Missing variables from template design:
// --eerie-black-2:           hsl(240, 2%, 12%);      Replaced with --eerie-black-1
// --white-2:                 hsl(0, 0%, 98%);        Replaced with --white-1
$themes: (
  dark: (
    // --smoky-black
    bg-primary: hsl(0, 0%, 7%),
    // --eerie-black-1
    // Possibly replace with value of --eerie-black-2
    bg-secondary: hsl(240, 2%, 13%),
    // --onyx
    bg-tertiary: hsl(240, 1%, 17%),
    // --white-1
    // Possibly replace with value of --white-2
    text-primary: hsl(0, 0%, 100%),
    // --light-gray
    text-secondary: hsl(0, 0%, 84%),
    // --light-gray-70
    text-tertiary: hsla(0, 0%, 84%, 0.7),
    // --orange-yellow-crayola
    accent-primary: hsl(45, 100%, 72%),
    // --vegas-gold
    accent-secondary: hsl(45, 54%, 58%),
    // --bittersweet-shimmer
    accent-tertiary: hsl(0, 43%, 51%),
    // --jet
    border-color: hsl(0, 0%, 22%),
    // --bg-gradient-onyx
    bg-gradient-primary: linear-gradient(
        to bottom right,
        hsl(240, 1%, 25%) 3%,
        hsl(0, 0%, 19%) 97%
      ),
    // --bg-gradient-jet
    bg-gradient-secondary:
      (
        linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%),
        hsl(240, 2%, 13%)
      ),
    // --bg-gradient-yellow-1
    bg-gradient-accent-primary:
      linear-gradient(to bottom right, hsl(45, 100%, 71%) 0%, hsla(36, 100%, 69%, 0) 50%),
    // --bg-gradient-yellow-2
    bg-gradient-accent-secondary:
      (
        linear-gradient(135deg, hsla(45, 100%, 71%, 0.251) 0%, hsla(35, 100%, 68%, 0) 59.86%),
        hsl(240, 2%, 13%)
      ),
    // border-gradient-onyx
    border-gradient-primary:
      linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%),
    // --text-gradient-yellow
    text-gradient-primary: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%)),
    // --shadow-1
    shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25),
    // --shadow-2
    shadow-sm: 0 16px 30px hsla(0, 0%, 0%, 0.25),
    // --shadow-3
    shadow-md: 0 16px 40px hsla(0, 0%, 0%, 0.25),
    // --shadow-4
    shadow-lg: 0 25px 50px hsla(0, 0%, 0%, 0.15),
    // --shadow-5
    shadow-xl: 0 24px 80px hsla(0, 0%, 0%, 0.25),
    grayscale: grayscale(1) invert(1),
  ),
  light: (
    bg-primary: hsl(0, 0%, 100%),
    bg-secondary: hsl(0, 0%, 95%),
    bg-tertiary: hsl(0, 0%, 90%),
    text-primary: hsl(0, 0%, 0%),
    text-secondary: hsl(0, 0%, 16%),
    text-tertiary: hsla(0, 0%, 20%, 0.7),
    accent-primary: hsl(45, 100%, 50%),
    accent-secondary: hsl(45, 54%, 40%),
    accent-tertiary: hsl(0, 43%, 40%),
    border-color: hsl(0, 0%, 80%),
    bg-gradient-primary: linear-gradient(to bottom right, hsl(0, 0%, 95%) 3%, hsl(0, 0%, 90%) 97%),
    bg-gradient-secondary: (
      linear-gradient(to bottom right, hsla(0, 0%, 90%, 0.251) 0%, hsla(0, 0%, 95%, 0) 100%),
      hsl(240, 10%, 98%),
    ),
    bg-gradient-accent-primary:
      linear-gradient(to bottom right, hsl(45, 100%, 60%) 0%, hsla(36, 100%, 50%, 0) 50%),
    bg-gradient-accent-secondary: (
      linear-gradient(135deg, hsl(45, 100%, 60%, 0.251) 0%, hsla(35, 100%, 49%, 0) 59.86%),
      hsl(240, 2%, 13%),
    ),
    border-gradient-primary:
      linear-gradient(to bottom right, hsl(0, 0%, 75%) 0%, hsla(0, 0%, 75%, 0) 50%),
    text-gradient-primary: linear-gradient(to right, hsl(45, 100%, 50%), hsl(35, 100%, 45%)),
    shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25),
    shadow-sm: 0 16px 30px hsla(0, 0%, 0%, 0.25),
    shadow-md: 0 16px 40px hsla(0, 0%, 0%, 0.25),
    shadow-lg: 0 25px 50px hsla(0, 0%, 0%, 0.15),
    shadow-xl: 0 24px 80px hsla(0, 0%, 0%, 0.25),
    grayscale: grayscale(1),
  ),
);

// Generate CSS variables for each theme
:root {
  @each $theme, $map in $themes {
    .#{$theme}-theme {
      @each $key, $value in $map {
        --#{$key}: #{$value};
      }
    }
  }
}

// --ff-poppins
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Poppins", sans-serif;

// --fs-8
$font-size-xxs: 11px;
// --fs-7
$font-size-xs: 13px;
// --fs-6
$font-size-sm: 14px;
// --fs-5
$font-size-md: 15px;
// --fs-4
$font-size-rg: 16px;
// --fs-3
$font-size-lg: 17px;
// --fs-2
$font-size-xl: 18px;
// --fs-1
$font-size-xxl: 24px;

// --fw-300
$font-weight-light: 300;
// --fw-400
$font-weight-regular: 400;
// --fw-500
$font-weight-medium: 500;
// --fw-600
$font-weight-semibold: 600;
// --fw-700
$font-weight-bold: 700;

// --transition-1
$transition-fast: 0.25s ease;
// --transition-2
$transition-slow: 0.5s ease-in-out;
