@import "../../styles/variables";
@import "../../styles/mixins";

.layout {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  transition:
    background-color $transition-duration,
    color $transition-duration;
}
