@use "../../styles/variables";
@use "../../styles/mixins";

.layout {
  min-height: 100vh;
  transition:
    background-color variables.$transition-slow,
    color variables.$transition-slow;

  @include mixins.themify() {
    background-color: mixins.theme("bg-primary");
  }
}
