@use "../../styles/variables";
@use "../../styles/functions";

.layout {
  min-height: 100vh;
  transition:
    background-color variables.$transition-slow,
    color variables.$transition-slow;

  background-color: functions.theme("bg-primary");
}
