@use "../../../styles/variables";
@use "../../../styles/functions";
@use "../../../styles/mixins";

.mapBox {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid functions.theme("border-color");
  overflow: hidden;

  figure {
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    filter: grayscale(1) invert(1);
  }

  @include mixins.mobile {
    height: 380px;
    border-radius: 18px;
  }
}
