@use "../../styles/variables";
@use "../../styles/functions";
@use "../../styles/mixins";

.iconBox {
  position: relative;
  background: functions.theme("border-gradient-primary");
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: functions.theme("accent-primary");
  box-shadow: functions.theme("shadow");
  z-index: 1;

  @include mixins.mobile {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }
}

.iconBox::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: functions.theme("bg-secondary");
  border-radius: inherit;
  z-index: -1;
}

.iconBox ion-icon {
  --ionicon-stroke-width: 35px;
}
