@use "../../styles/variables";
@use "../../styles/functions";
@use "../../styles/mixins";

.pageContent {
  display: block;
  background: functions.theme("bg-secondary");
  border: 1px solid functions.theme("border-color");
  border-radius: 20px;
  padding: 15px;
  box-shadow: functions.theme("shadow");
  z-index: 1;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pageTitle {
  position: relative;
  padding-bottom: 7px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: functions.theme("text-gradient-primary");
    border-radius: 3px;
  }

  @include mixins.mobile {
    font-weight: variables.$font-weight-semibold;
    padding-bottom: 15px;

    &::after {
      width: 40px;
      height: 5px;
    }
  }
}
