@use "../../styles/variables";
@use "../../styles/functions";
@use "../../styles/mixins";

.navBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid functions.theme("border-color");
  border-radius: 12px 12px 0 0;
  box-shadow: functions.theme("shadow-sm");
  z-index: 5;

  @include mixins.mobile {
    border-radius: 20px 20px 0 0;
  }

  @include mixins.desktop {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 20px;
    padding: 0 20px;
    box-shadow: none;
  }
}

.navBarList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  @include mixins.mobile {
    gap: 20px;
  }

  @include mixins.desktop {
    gap: 30px;
    padding: 0 20px;
  }
}

.navBarLink {
  color: functions.theme("text-secondary");
  font-size: variables.$font-size-xxs;
  padding: 20px 7px;
  transition: color variables.$transition-fast;

  @include mixins.mobile {
    font-size: variables.$font-size-sm;
  }

  @include mixins.tablet {
    font-size: variables.$font-size-md;
  }

  @include mixins.desktop {
    font-weight: variables.$font-weight-medium;
  }
}

.navbarLink:hover,
.navbarLink:focus {
  color: functions.theme("text-tertiary");
}

.navbarLink.active {
  color: functions.theme("accent-primary");
}
