@use "../../styles/variables";
@use "../../styles/functions";

.themeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 7px;
  transition: opacity 0.3s ease;
  background: none;
  border: none;

  &:hover {
    opacity: 0.7;
  }
}
