@use "../../styles/variables";
@use "../../styles/mixins";

.themeSwitcher {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color variables.$transition-fast,
    color variables.$transition-fast;

  @include mixins.themify() {
    background-color: mixins.theme("bg-secondary");
    color: mixins.theme("text-primary");
    border: 1px solid mixins.theme("border-color");
  }

  &:hover {
    @include mixins.themify() {
      background-color: mixins.theme("accent-primary");
      color: mixins.theme("bg-primary");
    }
  }
}
